.enterprise-form-container{
  @apply
  max-w-[1412px] mx-auto px-4 2xl:px-0 -mt-8 lg:mt-0
}

.enterprise-form-container .content{
  @apply
  flex flex-col lg:flex-row w-full gap-12 lg:gap-20
}

.enterprise-form-body{
  flex:7;

  @apply
  flex flex-col w-full
}

.enterprise-form-sidebar{
  flex:3;
}

.enterprise-form-container h1{
  @apply
  text-darkBlue font-primary font-semibold text-lg mb-8
}

.content .enterprise-form-body p{
  @apply
  text-regularGray font-secondary lg:text-lg mb-8
}

.content .enterprise-form-body h5{
  @apply
  text-regularGray font-semibold font-secondary lg:text-lg
}

.enterprise-contact-form{
  @apply
  lg:my-20
}

.general-contact-container{
  @apply
  w-full max-w-[1412px] mx-auto
}

.general-contact-container .general-contact-title h3{
  @apply
  text-xl lg:text-3xl text-darkBlue font-primary font-semibold px-4 2xl:px-0
}

.general-contact-container .general-contact-content{
  @apply
  max-w-[938px] my-12 lg:my-20 px-4 2xl:px-0
}

.general-contact-container .general-contact-content p{
  @apply
  text-regularGray font-secondary mb-8
}

.general-contact-container .general-contact-content label{
  @apply
  text-regularGray font-secondary font-semibold
}


.enterprise-contact-form{
  @apply
  flex gap-4 flex-col lg:flex-row px-0 2xl:px-0
}

.enterprise-contact-form .contact-input-container{
  @apply
  w-full max-w-[938px] flex flex-col gap-2
}

.enterprise-contact-form .contact-input-container .contact-input-row{
  @apply
  flex gap-4 min-w-full flex-col lg:flex-row
}

.enterprise-contact-form .contact-input-container .contact-input-col{
  flex:1;
}

.general-contact-container form{
  @apply
  mb-40
}

.enterprise-contact-form .contact-input-container .contact-input-row.mobile{
  @apply
  flex lg:hidden mb-8 lg:pt-60
}

.enterprise-contact-form .contact-input-sidebar{
  @apply
  hidden lg:block
}